html, body {
  padding: 0;
  margin: 0;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  font-size: 15px;
}
* {
  font-family: 'Open Sans','Helvetica',sans-serif;
  color: #fff;
  box-sizing: border-box;
  text-shadow: 0 1px 2px #000;
}
#gb-h1 {
  font-size: 14px;
  font-family: 'Consolas','Open Sans','Helvetica',sans-serif;
  color: #aaa;
  font-weight: 100;
  position: fixed;
  line-height: 1em;
  background-color: rgba(50,50,50,0.7);
  top: 0;
  border-radius: 8px 8px 0 0;
  height: 22px;
  max-width: 100%;
  overflow: hidden;
  padding: 5px 18px 2px 18px;
  margin: 0 auto;
  text-shadow: 0 1px 2px #000;
  cursor:move;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
#gb-filename {
  color: #aaa;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size: 14px;
  font-family: 'Consolas','Open Sans','Helvetica',sans-serif;
  -webkit-user-select: true;
}
#gb-filename:before {
  position: absolute;
  content: attr(title) ": ";
  line-height: 1.2em;
  background: #333;
  color: #fff;
  padding: 3px 8px;
  top: 22px;
  left: 0;
  right: 0;
  max-width: 80%;
  border-radius: 0 0 8px 8px;
  display: none;
  opacity: 0;
  transition: all ease 0.3s;
}
#gb-filename:hover:before{
  display: inline-block;
  opacity: 0.9;
}
#gb-nav {
  position: fixed;
  top: 22px;
  right: 4px;
}
#gb-nav a {
  padding: 2px 6px 3px 6px;
  margin: 0 0 0 4px;
  text-decoration: none;
  background: rgba(0,0,0,0.7);
  border-radius: 20px;
  font-size: 10px;
  opacity: 0.6;
  transition: all ease 0.3s;
}
#gb-nav a:hover {
  background: #900;
  opacity: 0.9;
}
#gb-outer-code {
  width: 100%;
  height: calc(100vh - 22px);
  padding: 10px 18px;
  margin: 22px auto 0 auto;
  outline: none;
  background-color: rgba(50,50,50,0.7);
  border-radius: 0 8px 8px 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  cursor: default;
  z-index: 999;
  position: relative;
}
::-webkit-scrollbar-track {
  background-color: rgba(50,50,50,0.1);
  border-radius: 8px;
  cursor: default;
  z-index: 999;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  cursor: default;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 8px;
  cursor: default;
}
@font-face {
  font-family: 'Open Sans';
  src: url(https://rwadholm.github.io/greybox/css/fonts/OpenSans-Regular.ttf);
  font-weight: bold;
}
